@use '@scss/globals/index' as *;
@use '@scss/globals/colors/brands' as *;

.brand-quick-list {
  max-width: $quick-list-max-width;
  margin: 3rem auto 2rem auto;
  padding: $quick-list-padding;
  background-color: $quick-list-background-color;
  border-radius: $card-radius;
  color: $quick-list-text-color;

  @include phone-portrait {
    margin-top: 8rem;
    width: 86%;
  }
}