@use './core' as *;

$car-detail-text-color: $gray-333;
$back-btn-bg-color: $gray-333;
$back-btn-hover-bg-color: $gray-555;

$car-image-border-color: rgb(0, 0, 0);
$car-image-shadow-color: $gold-accent;
