@use "./core" as *;

$td-border-color: $purple-glow;

$reset-btn-hover: rgb(193, 71, 250);

$tracker-btn-on-bg: rgb(50, 205, 50);
$tracker-btn-off-bg: rgb(60, 60, 60);
$tracker-btn-off-color: rgb(200, 200, 200);

$circle-color-on: #00ff99;
$circle-color-off: #bbb;