@use "./core" as *;

$table-border-color: rgb(11, 7, 134);
$td-border-color: rgb(204, 19, 255);

$color-link-blue: rgb(24, 189, 249);

$reset-btn-bg: rgb(52, 1, 75);
$reset-btn-hover: rgb(193, 71, 250);

$tracker-btn-on-bg: rgb(50, 205, 50);
$tracker-btn-off-bg: rgb(60, 60, 60);
$tracker-btn-off-color: rgb(200, 200, 200);

$circle-color-on: #00ff99;
$circle-color-off: #bbb;