@use './core' as *;

$ring-color-green: #00ff22;
$ring-color-gold: $gold-accent;
$ring-color-blue: #00ccff;

$control-box-shadow-color: $color-gold-glow;
$control-bg-color: $color-black;
$control-border-color: $color-black;

$progress-ring-trail: $surface-dark-4;
$table-bg: $surface-dark-2;
$table-header-bg: $surface-dark-3;
$table-outline-border: $gray-444;