@forward "@scss/carDetails/main";
@forward "@scss/carDetails/nameAndImage";
@forward "@scss/carDetails/basicInfo";
@forward "@scss/carDetails/keyInfo";
@forward "@scss/carDetails/comments";

@forward "@scss/carDetails/toolsRow/index";
@forward "@scss/carDetails/stats/index";