@use 'sass:color';
@use '@scss/Globals/index' as *;

.carDetail {
  .keyInfoTableContainer {
    margin: 0.3rem auto 2rem auto;
    width: $key-car-info-table-width;

    @include maxw($cellphone-portrait) {
      width: 22rem;
      margin: 1.4rem auto;
    }

    .keyInfoTable {
      width: 100%;
      height: 0;
      border-spacing: 0;
      border-collapse: collapse;
      background-color: #20002c;
      box-shadow: 0 0 7px 4px rgb(223, 190, 7);
      margin: 0 auto;

      @include maxw($cellphone-portrait) {
        margin: 38px auto 3px auto;
      }

      th {
        background-color: black;
        color: $color-accent-blue;
        font-size: 1.8rem;
        padding: 5px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0 auto;
      }

      td {
        color: gold;
        padding: 2px;
        font-size: 1.3rem;
        text-align: center;
        border-top: 1px solid purple;
        margin: 0 auto;
      }

      input[type='checkbox'] {
        transform: scale(1.2);
        margin-right: 0.5rem;
      }
      label {
        color: white;
        font-size: 1.2rem;
      }
    }
  }
}