@use "sass:color";
@use "@scss/Globals/index" as *;

/* ==============================
   Page Layout & Footer Spacing
   ============================== */
.cars {
  min-height: 75vh;
  padding-bottom: 4rem;
}

/* ==============================
   New Car Count & Pagination Styling
============================== */
.carCount {
  font-size: 1.5rem;
  color: rgb(21, 201, 232);
  text-align: center;
  margin-top: 2rem;
}

.pageSizeControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;

  /* phones in portrait */
  @include maxw($cellphone-portrait) {
    flex-flow: row wrap;
  }

  .paginationLabel {
    font-size: 1.3rem;
    color: rgb(21, 201, 232);

    @include maxw($cellphone-portrait) {
      flex-direction: row;
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  .carsPerPage {
    display: flex;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 1rem;
    text-align: center;
    border-radius: 0.3rem;

    @include maxw($cellphone-portrait) {
      display: flex;
      text-align: center;
    }

    &:disabled {
      background-color: rgb(50, 50, 50);
      color: gray;
      cursor: default;
    }

    &:hover:not(:disabled) {
      background-color: rgb(21, 201, 232);
      color: black;
    }
  }
}