@use '@scss/globals/index' as *;

.brand-info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $brand-padding;
  color: $color-white;

  /* =============================
     Brand Name
     ============================= */
  .brand-name {
    font-size: $brand-name-font-size;
    margin-bottom: 2rem;
  }

  /* =============================
     Brand Logo
     ============================= */
  .brand-logo {
    width: $brand-logo-width;
  }

  /* =============================
     Brand Description
     ============================= */
  .brand-description {
    margin-top: 20px;
    font-size: $brand-description-font-size;
    text-align: center;
    max-width: $brand-max-width;
  }

  /* =============================
     Brand Details
     ============================= */
  .brand-details {
    margin: 1.5rem 0;
    font-size: $brand-details-font-size;
    max-width: $brand-details-max-width;
  }

  /* =============================
     Brand Resources
     ============================= */
  .brand-resources {
    margin-bottom: 5rem;
  }
}