@use 'sass:color';
@use '@SCSS/Globals/Variables' as *;

/* =============================
         Table Layout
         ============================= */
table {
  border: 4px solid $table-border-color;
  margin: $table-margin;
  border-spacing: 0;
  border-collapse: collapse;
  width: $table-width;
  box-shadow: $table-box-shadow;

  @media only screen and (max-width: 768px) {
    margin-top: 15rem;
    max-width: 80%;
  }

  @media only screen and (max-width: $mobileMaxWidthPortrait) and (orientation: portrait) {
    margin-top: 4rem;
    max-width: 100%;
    width: 84%;
  }
}

.table-header {
  color: $table-header-text-color;
  background-color: $table-header-bg-color;
  text-align: center;
  padding: $table-header-padding;
  font-size: $table-header-font-size;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  div {
    display: flex;
    justify-content: space-between;
  }
}

.car-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  text-align: center;
  color: $td-text-color;
  border: 1px solid $td-border-color;
  padding: $td-padding;
}

.car-name {
  a {
    color: $car-name-link-color;
    text-decoration: none;
    max-width: calc(100% - 45px);
  }
}
