@use 'sass:color';
@use '@scss/Globals/index' as *;

/* ==============================
   Gold Maxed Progress Ring
   ============================== */
.goldMaxedProgressWrapper {
  width: $progress-ring-size;
  height: $progress-ring-size;

  .CircularProgressbar {
    font-weight: bold;
    margin-left: 8rem;

    .CircularProgressbar-path {
      stroke: $ring-color-gold;
      stroke-linecap: round;
      filter: drop-shadow($gold-maxed-ring-glow);
    }

    .CircularProgressbar-trail {
      stroke: $progress-ring-trail;
    }

    .CircularProgressbar-text {
      fill: $ring-color-gold;
      font-size: 1.2rem;
    }
  }
}

/* ==============================
   Gold Maxed Text
   ============================== */
.goldMaxedText {
  font-size: 1.2rem;
  margin: 3.5rem 0 0 8rem;
  color: $ring-color-gold;
}