// =============================
// Brands — Typography
// =============================
$section-heading-font-size: 2rem;
$brand-link-font-weight: 500;
$brand-list-name-font-size: 1.3rem;

// Brand Info Page               // NEW
$brand-name-font-size: 4rem;
$brand-description-font-size: 1.4rem;
$brand-details-font-size: 1.2rem;