// Shared
$back-btn-font-size: 1.1rem;
$filter-font-size: 1.2rem;
$tracker-btn-font-size: 1rem;

// Car Details
$table-header-font-size-car-details: 1.8rem;

// Cars
$table-header-font-size-cars: 2.4rem;