$progress-ring-font-size: 1.2rem;
$progress-ring-bold-font-size: 1.5rem;
$star-label-font-size: 0.9rem;
$gl-ring-font-size: 1.4rem;
$gl-label-font-size: 1.05rem;
$star-section-title-font-size: 1rem;
$tracker-table-font-size: 0.9rem;
$tracker-notice-font-size: 1.1rem;
$chart-subtitle-font-size: 0.8rem;