/* Possibly Car Details Tables */
$table-width: 59%;
$table-header-padding: 12px 21px;
$td-padding: 1rem;
/* Possibly Car Details tables End */

$class-select-padding: 10px 0;
$class-select-width: 11rem;
$class-select-margin: 1rem auto 2rem auto;
$unit-selection-gap: 10px;
$unit-selection-margin: 2rem auto 2rem auto;
$unit-select-padding: 12px 0;
$unit-select-width: 16rem;
$info-tooltip-width: 3rem;
$cars-summary-gap: 2rem;
$cars-summary-padding: 3rem;
$reset-filters-width: 8.5rem;
$reset-filters-padding: 15px 0;