$table-border-color: rgb(11, 7, 134);
$table-header-text-color: rgb(21, 201, 232);
$table-header-bg-color: black;
$td-text-color: rgb(255, 255, 255);
$td-border-color: rgb(204, 19, 255);
$car-name-link-color: rgb(24, 189, 249);
$filter-bg: black;
$filter-font-color: white;
$reset-btn-bg: rgb(52, 1, 75);
$reset-btn-hover: rgb(193, 71, 250);
$tracker-btn-on-bg: rgb(50, 205, 50);
$tracker-btn-off-bg: rgb(60, 60, 60);
$tracker-btn-on-color: white;
$tracker-btn-off-color: rgb(200, 200, 200);
$circle-color-on: #00ff99;
$circle-color-off: #bbb;
$class-select-bg-color: black;
$class-select-text-color: rgb(21, 201, 232);
$info-tooltip-text-color: rgb(21, 201, 232);
$back-btn-bg: black;
$back-btn-text: rgb(21, 201, 232);
$back-btn-border: 1px solid rgb(21, 201, 232);