// Cars page
$table-header-font-size: 2.4rem;
$filter-font-size: 1.2rem;
$tracker-btn-font-size: 1.2rem;
$class-select-font-size: 1.5rem;
$reset-filters-font-size: 1.3rem;
$unit-select-font-size: 1.5rem;
$info-tooltip-font-size: 2.5rem;
$back-btn-font-size: 1.1rem;

// Car Tracker page
$progress-ring-font-size: 1.2rem;
$progress-ring-bold-font-size: 1.5rem;
$star-label-font-size: 0.9rem;
