/* ==============================
            Variables
   ============================== */

   @use "sass:color";

   $gold-accent: rgb(223, 190, 7);
   $background-dark: black;
   $text-color: white;
   $shadow-style: 1px 0 5px 5px $gold-accent;
   
   /* ==============================
            Garage Level Tracker
      ============================== */
   
   .glTrackerToggle {
    margin: 15rem auto 0 auto;
    //  box-shadow: $shadow-style;
    //  background-color: $background-dark;
    //  color: $text-color;
   }
   
   /* ==============================
             Level Selector
      ============================== */
   
   .levelSelector {
     display: grid;
     grid-template-columns: 1fr;
     justify-content: center;
     align-items: center;
   
     select {
       display: grid;
       grid-template-columns: 1fr;
       justify-self: center;
       margin-top: 1rem;
     }
   }
   
   /* ==============================
           XP Input Section
      ============================== */
   
   .xpInputSection {
     display: grid;
     grid-template-columns: 1fr;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     flex-wrap: wrap;
   
     input {
       display: grid;
       grid-template-columns: 1fr;
       justify-self: center;
       width: 12rem;
       text-align: center;
       margin-top: 1rem;
     }
   }
   