@use "sass:color";
@use "@scss/Globals/index" as *;

/* ==============================
            Variables
   ============================== */

$shadow-style: 1px 0 5px 5px $color-gold-glow;

$control-grid-gap: 1rem;
$control-width: 18rem;
$control-border-color: black;
$control-box-shadow-color: $color-gold-glow;
$control-bg-color: black;
$control-padding: 4rem;
$control-font-size: 1.2rem;

$filter-heading-font-size: 1.9rem;

/* ==============================
            Garage Level Tracker
      ============================== */

.glTrackerToggle {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;

  @include maxw($cellphone-portrait) {
    margin: 1rem auto 0 auto;
  }

  .toggleButton {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $color-black;
    color: $color-white;
    border-radius: 0.5rem;
    box-shadow: $shadow-style;
    padding: 0.8rem 1rem;

    &:hover {
      background-color: color.scale($color-black, $lightness: 20%);
      color: color.scale($color-white, $lightness: -10%);
      box-shadow: $shadow-style;
    }
  }
}

/* ==============================
             Level Selector
      ============================== */

.garageLevelTracker {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0rem auto 3rem auto;
  gap: $control-grid-gap;
  width: $control-width;
  border: 3px solid $control-border-color;
  box-shadow: 0 0 8px 3px $control-box-shadow-color;
  border-radius: 1rem;
  background-color: $control-bg-color;
  padding: $control-padding;
  font-size: $control-font-size;
  color: $color-white;

  .levelTracker {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    .levelTrackerText {
      color: $color-white;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}

.levelSelector {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  select {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    margin-top: 1rem;
  }
}

/* ==============================
           XP Input Section
      ============================== */

.xpInputSection {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  input {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    width: 12rem;
    text-align: center;
    margin-top: 1rem;
  }
}
