@use "sass:color";
@use "@scss/Globals/index" as *;

.glTrackerToggle {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;

  @include maxw($cellphone-portrait) {
    margin: 1rem auto 0 auto;
  }

  .toggleButton {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $color-black;
    color: $color-white;
    border-radius: 0.5rem;
    box-shadow: $shadow-style;
    padding: 0.8rem 1rem;

    &:hover {
      background-color: color.scale($color-black, $lightness: 20%);
      color: color.scale($color-white, $lightness: -10%);
      box-shadow: $shadow-style;
    }
  }
}

.garageLevelTracker {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0rem auto 3rem auto;
  gap: $control-grid-gap;
  width: $control-width;
  border: 3px solid $color-black;
  box-shadow: 0 0 8px 3px $color-gold-glow;
  border-radius: 1rem;
  background-color: $color-black;
  padding: $control-padding;
  font-size: $control-font-size;
  color: $color-white;

  .levelTracker {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    .levelTrackerText {
      color: $color-white;
      font-size: $level-tracker-font-size;
      margin-bottom: 1rem;
    }
  }
}

.levelSelector {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  select {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    margin-top: 1rem;
  }
}

.xpInputSection {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  input {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    width: 12rem;
    text-align: center;
    margin-top: 1rem;
  }
}